/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* General styling rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f9f9f9;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: rgba(255, 255, 255, 0.875);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: black;
}
#logo h2{
    color: black;
}
#menu { 
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu li {
    color: black ;
    margin-bottom: 5px;

}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar */
nav { 
    position: absolute;
    background-color: rgba(255, 255, 255, 0.875);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    padding-top: 15px;
}

/* Nav Toggle */
#nav-toggle:checked~nav { 
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label { 
    font-size: 2rem;
    color: #000000;
}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero Section */

#hero { 
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(../media/hero.jpg);
    background-size: cover;
    background-position: center;    
    position: relative;
}
/* Tablets */
@media screen and (min-width: 768px) {
 /* Header */
 nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
    background-color: rgba(0, 0, 0, 0);
}

#menu {
    display: flex;
}

#menu > li {
    padding-left: 1rem;
    font-size: 1.25rem;

}

.nav-toggle-label {
    display: none;
}

#logo {
    line-height: 75px;
}
}